<!-- Waiting Modal Start here-->
<div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1"
    role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-time">
                    </span>Please Wait
                 </h4>
            </div>
            <div class="modal-body">
            	<progress class="progress progress-striped progress-danger" value="100" style="width:100%" max="100"></progress>
            </div>
        </div>
    </div>
</div>
<!-- Waiting Modal ends Here -->